.container-grid {
  background-color: var(--color-muted);
  padding: 24px;
  border-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  justify-items: center;
}

.card {
  background: #fff;
  border-radius: 14px;
  width: 260px;
  height: 294px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  cursor: pointer;
  transition: all 0.2s ease;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 14px;
}

.card-title {
  font-size: 14px;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}

.favorite-btn {
  border: none;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  font-size: 16px;
  background-color: var(--color-muted);
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.favorite-btn:hover {
  transform: scale(1.2);
}