.pagination {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.pagination button {
  min-width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid var(--color-border);
  background: #fff;
  cursor: pointer;
  font-size: 14px;
}

.pagination button.active {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.pagination .arrow-btn {
  font-size: 1.5rem;
  color: #C4CDD5;
}

.pagination button:disabled {
  cursor: not-allowed;
  background-color: #C4CDD5;
  color: #fff;
}