* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #FFFFFF;
  color: #111827;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.title {
  text-align: center;
  font-size: 32px;
  color: #000;
  font-weight: bold;
}

.subtitle {
  text-align: center;
  font-size: 24px;
  color: #000;
  margin-top: 1rem;
}

/* TOP BAR */

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

/* CONTENEDOR BUSQUEDA */
.search-container {
  position: relative;
  width: 300px;
}

.search-container input {
  width: 12rem;
  height: 35px;
  padding: 0 16px 0 40px;
  border-radius: 8px;
  border: none;
  background-color: #f9fafb;
  font-size: 14px;
  outline: none;
  transition: all 0.2s ease;
}

.search-container input:focus {
  border-color: #6366f1;
  background-color: #ffffff;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.15);
}

/* ICONO DENTRO DEL INPUT */
.search-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
  font-size: 18px;
}

/* BOTON FAVORITOS */
.favorites-btn {
  height: 35px;
  padding: 0 0 0 16px;
  border-radius: 8px;
  border: none;
  background-color: #F7F7F8;
  color: #111827;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

/* Cuadro azul del icono */
.fav-icon {
  width: 35px;
  height: 35px;
  background-color: #4339F2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fav-icon svg {
  color: white;
  font-size: 14px;
}


/* CONTAINER CARDS */

.container-grid{
  background-color: #F7F7F8;
  padding: 24px;
  border-radius: 10px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

/* CARD */

.card {
  background: white;
  border-radius: 14px;
  width: 260px;
  height: 294px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.2s ease;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 14px;
}

.card-title{
  font-size: 14px;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.favorite-btn {
  border: none;
  border-radius: 100px;
  font-size: 16px;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #F7F7F8; 
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.favorite-btn:hover {
  transform: scale(1.2);
}


/* PAGINATION */

.pagination {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.pagination button {
  min-width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #DFE3E8;
  background: #fff;
  cursor: pointer;
  font-size: 14px;
}

.pagination button.active {
  border: 1px solid #4200FF;
  color: #4200FF;
  background: white;
}

.pagination .arrow-btn {
  color: #C4CDD5;
  font-size: 1.5rem;
}

.pagination button:disabled {
  opacity: 100;
  cursor: not-allowed;
  background-color: #C4CDD5;
  color: #fff;
  font-size: 1.5rem;
}

/* MODAL */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.778);
  display: flex;
  justify-content: center; 
  align-items: center; 
  z-index: 1000;      
}

.modal-content {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  max-width: 500px;
  width: 260px;
  height: 420px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 2.5rem;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 10px;
  color: #C73A3A;
  background: #FFE1E1;
  border-radius: 20px;
  border: none;
  font-size: 10px;
  cursor: pointer;
  padding: 3px 10px;
  font-weight: bold;
  display: flex;           
  align-items: center;    
  gap: 5px; 
}

.character-name {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: .5rem;
} 

.char-data{
  margin: 10px 0;
  display: grid;       
  grid-template-columns: repeat(2, 1fr); 
  gap: .3rem;              
}

.modal-content .char:last-child {
  grid-column: 1 / -1;   
}

.char{
  font-size: 12px;
  padding: 2px 3px;
  border-radius: 20px;
  text-align: center;
}

.character-status {background-color: #CCEFFF;}
.character-gender {background-color: #CCD5FF;}
.character-specie {background-color: #CCFFDA;}
.character-origin {background-color: #F7F6CE;}
.character-location {background-color: #FAE9D2;}


/* BOTON REGRESAR */
.back-btn {
  height: 35px;
  padding: 0 16px 0 0;
  border-radius: 8px;
  border: none;
  background-color: #F7F7F8;
  color: #111827;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

/* Cuadro azul del icono */
.fav-icon-back {
  width: 35px;
  height: 35px;
  background-color: #2D68A2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: .8rem;
}
